/* Write your code here. */
.emoji-game-bg {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  font-family: 'Roboto', sans-serif;
}

.emoji-game-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.emoji-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  max-width: 1140px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .emoji-game-container {
    padding: 16px;
  }

  .emoji-list {
    justify-content: center;
    gap: 12px;
  }
}

@media screen and (max-width: 480px) {
  .emoji-game-container {
    padding: 12px;
    flex-direction: column;
  }

  .emoji-list {
    gap: 10px;
  }
}
